@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
    }
    
    ul,
    li,
    ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    a {
    text-decoration: none;
  color: black;
    }
    
    *{
    font-family: "Noto Sans KR";
    }
    
    
    
    /*main*/

    header {
    width: 1652px;
    height: 170px;
    margin: 0 a ;
    position: fixed; 
    top: 50px;
    left: 50%;
    z-index: 2;
    transform:  translate(-58%,-20%);
    }
    
    
    .search {
    position: relative;
    width: 300px;
    left: 75px;
    top: 50px;
    float: right;
    }
    
    .search > a > img {
      width: 30px;
      height: 30px;
      position : absolute;
    top: 9px;
    right: 250px;
    margin: 0;
    }
    
    
    
    
    
    
    input {
    width: 230px;
    height: 45px;
    border: 1px solid #666;
    border-radius: 20px 20px 20px 20px  ;
    font-size: 14px;
    }
    
    
    
    
    #logo {
    width: 70px;
    height: 63.75px;
    float: left;
    margin: 0 auto;
    position: relative;
    left: 910px;
    top: 20px;
    
    }
    
    #logo> a >img {
    width: 100%;
    height: 100%;
    }
    
    #login {
    width: 360px;
    height: 30px;
    float: right;
    position: relative;
    left: 313px;
    top: 8px;
    color: #000;
    
    }
    
    #login>ul>li {
    float: right;
    width: 50px;
    font-size: 13px;
    text-align: center;
    margin: 13px;

    }
    
    
    
    #review {
    float: right;
    width: 295px;
    height: 30px;
    float: right;
    position: relative;
    top: 95px;
    left: 670px;
    }
    
    #review>ul>li {
    float: right;
    width: 50px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    }
    
    
    header>ul>li {
    float: right;
    padding: 5px;
    margin: 0;
    }
    
    
    nav {
    width: 1000px;
    height: 40px;
    float: left;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left: 300px;
    }
    
    
    
    
    .search-bar__input {
    width: 50px;
    border: none;
    text-align: center;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
    border: 2px slide slateblue;
    }
    
    
    .search-bar__input:focus {
    outline: none;
    width: 300px;
    text-align: left;
    }
    
    
    
    
    
    
    
    
    /*메뉴*/
    .menu {
    float: left;
    width: 650px;
    margin: 0px 0 0 150px;
    position: relative;
    left: 40px;
    }
    
    .menu>li {
    float: left;
    width: 20%;
    text-align: center;
    transition: all 0.5s ease;
    line-height: 50px;
    
    }
    
    .menu>li>a {
    font-size: 18px;
    }
    
    .menu>li:hover>a {
    color: black;
    text-decoration: underline;
    }
    
    .menu>li:hover {
    color: #fff;
    }
    
    .sub {
    display: none;
    z-index: 3;
    position: relative;
    width: 1100px;
    background-color: rgba( 255, 255, 255, 0.5 );
    line-height: 40px;
    
    
    }
    
    
    
    .sub>li>a:hover {
    display: block;
    width: 100%;
    font-weight: bold;
    }
    
    .sub > li {
      display: inline-block;
      /* [변경] 가로로 펼쳐지도록 설정 */
      font-size: 15px;
      padding: 15px;
     
    }
    
    
    
    span:hover {background: rgba(255,255,255,0.8); color:#000;}
    


 #wrap {
      width: 80%; /* 수정된 부분: 가로 크기를 100%로 설정 */
       margin: 0 auto;
      }
h1 {color: rgb(0, 0, 0); }
      table {  width: 100% !important;}
      table {width: 80%; border-collapse: collapse; font-size: 12px; line-height: 24px;}
      table td,th {border: #d3d3d3 solid 1px;  padding: 5px; }
      
      th {background: rgb(128, 128, 255);}
      img {width: 220px; height: 300px;}
      a {text-decoration: none; color: black; }
      a:HOVER {text-decoration: underline; color: green; }
      
      
      
      
button{
	position: relative;
	top: 50px;
}